{% load static %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta charset="utf-8" />
    <title>{% block title %}Bingo{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'bingo/css/style.css' %}">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}

    <script defer src="{% static 'bingo/js/app.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
